rukkit:
  event_filename: all-events.txt
  repository: git@github.com:supermomonga/akechi.rukkit.git
  plugins:
    - skeleton_crossbow
    - say_hello_and_goodbye
    - strong_boots
    - fast_dash
    - chat_convert
    # - chat_relay
    - super_jump
    - dummy
    # - notifications
    - human_bulldozer
    - shared_chest
    - killer_queen
    - kickory
    - player_job_command
    - player_job_farmer
    - player_job_fighter
    - player_job_knight
    - player_job_seaman
    - player_job_smith
    - player_job_woodcutter
    - player_job_legion
    - safe_login
    - dirt_to_clay_recipe
    - cow_diamond
    - virtual
    - heatstroke
  scripts:
    - lingr
    - material_util
    - player_util
    - player_job
  plugin_config:
    lingr:
      secret: FIXME
      room: mcujm
      bot: rukkit
      server_port: 8124
